.container {
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 10px;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #e5e7eb;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #d4d4d8;
    }
}

.content {
    width: 100%;

    .top {
        margin-bottom: 52px;
        display: flex;
        align-items: center;

        .backBtn {
            display: block;
            width: 25px;
            height: 25px;
            border-color: #27272a;
            border-style: solid;
            border-width: 0 0 5px 5px;
            border-radius: 5px;
            transform: rotate(45deg);
            cursor: pointer;
        }

        .title {
            font-size: 34px;
            font-weight: 500;
            line-height: 32px;
            color: #27272a;
        }
    }

    .main {
        .line {
            font-size: 16px;
            color: #71717a;

            &.theme {
                display: flex;
                align-items: center;
            }

            .colorPreview {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 2px;
                margin-left: 10px;
            }

            .lineInfo {
                font-size: 16px;
                font-weight: 500;
                color: #27272a;
                margin-left: 8px;
            }
        }

        .brief {
            display: grid;
            grid-template-columns: repeat(2, calc(50% - 20px ));
            column-gap: 20px;
            row-gap: 25px;
        }
    }
}
