.content {
    width: 100%;
}

.top {
    margin-bottom: 52px;

    .title {
        font-size: 34px;
        font-weight: 500;
        line-height: 32px;
        color: #27272a;
    }
}

.main {
    .pieChart {
        height: 400px;
    }
}
