.list {
    position: relative;
    min-height: 100%;

    .title {
        background-color: violet;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 5px 10px 5px 0;
        margin-bottom: 10px;

        .text {
            display: inline-block;
            font-size: 34px;
            font-weight: 500;
            line-height: 34px;
            color: #404040;
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
            background-color: #fff;
            padding: 4px 8px 4px 4px;
        }
    }

    .info {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 10px;

        .infoItem {
            display: inline-flex;
            align-items: center;
            column-gap: 6px;
            font-size: 14px;
            color: #737373;
        }

        .seperator {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #d4d4d4;
        }
    }

    .description {
        width: 550px;
        font-size: 16px;
        color: #71717a;
        margin-bottom: 32px;

        .text {
            font-size: 16px;
            color: #71717a;
            display: inline-flex;
            align-items: center;

            .editBtn {
                display: inline-block;
                opacity: 0;
                cursor: pointer;
                width: 20px;
                height: 20px;

                img {
                    display: block;
                    width: 16px;
                    margin-left: 5px;
                }
            }

            &:hover {
                .editBtn {
                    opacity: 1;
                }
            }
        }

        .edit {
            display: none;
            .editInput {
                padding: 2px 5px;
                width: 550px;
                border: none;
                border-bottom: 1px dashed black;
                outline: none;
                font-size: 17px;
                color: #71717a;
            }
        }
        
        &.editing {
            .text {
                display: none;
            }

            .edit {
                display: block;
            }
        }
    }

    .items {
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 32px;
    }

    .addItem {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 2px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23ABA6A6' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 8px;

        input {
            border: none;
            border-radius: 8px;
            outline: none;
            padding: 10px 15px;
            font-size: 19px;
            font-family: inherit;
        }
    }
}