@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=block');

.navbar {    
    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            font-size: 50px;
            font-family: 'Belanosima', sans-serif;
            text-align: center;
            z-index: 1;
        }
    }
}

.main {
    padding: 80px 15px 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        width: 550px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .item {
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            padding: 10px 15px;
            position: relative;
            margin-bottom: 20px;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            transition: 0.2s;
            -webkit-user-select: none;
            user-select: none;

            &:active {
                transform: scale(0.98);
            }
        
            .itemContent {
                display: grid;
                grid-template-columns: 40px auto;
                align-items: center;

                .customCheckBox {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #f3f3f3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3px;
                    -webkit-user-select: none;
                    user-select: none;
        
                    .checkmark {
                        width: 25px;
                    }
        
                    .maru, .batsu, .sankaku, .dndIcon, .editIcon {
                        position: absolute;
                        display: block;
                        opacity: 0;
                        transition: 0.3s;
                        transform: scale(0.7);
                        z-index: 1;
                    }
        
                    .editIcon {
                        z-index: -1;
                    }
        
                    .sankaku {
                        width: 20px;
                    }
        
                    .dndIcon {
                        width: 10px;
                    }
        
                    &.done {
                        .maru {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
        
                    &.undone {
                        .batsu {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
        
                    &.pending {
                        .sankaku {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
        
                    &.dndActive {
                        .maru, .batsu, .sankaku {
                            opacity: 0 !important;
                            transform: scale(0.7) !important;
                        }
        
                        .dndIcon {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
        
                    &.editing {
                        .maru, .batsu, .sankaku {
                            opacity: 0 !important;
                            transform: scale(0.7) !important;
                        }
        
                        .editIcon {
                            opacity: 1 !important;
                            transform: scale(1);
                            z-index: 1;
                        }
                    }
                }
        
                .text {
                    width: 100%;
                    margin-left: 10px;
                    font-size: 18px;
                    cursor: pointer;
                }
                
            }
        }
    }

    .btn {
        margin-top: 20px;
        padding: 10px 15px;
        background: green;
        border-radius: 2px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        z-index: 1;
    }
    .btn:hover{
        background-color: rgb(74, 109, 21);
    }

    .backgroundGrids {
        position: absolute;
        width: 330px;

        &.first {
            left: 50px;
            top: 120px;
        }

        &.second {
            right: 50px;
            bottom: 140px;
        }

        &.third {
            right: 50px;
            top: 40px;
            opacity: 0.7;
        }

        &.fourth {
            left: 130px;
            bottom: 100px;  
        }

        .grid {
            position: relative;

            .top {
                position: absolute;
                display: grid;
                grid-template-columns: repeat(20, 1px);
                column-gap: 15px;
                left: 10px;
                top: -15px;


                .stroke {
                    width: 1px;
                    height: 270px;
                    background-color: #e0e0e2;
                }
            }

            .left {
                position: absolute;
                display: grid;
                grid-template-rows: repeat(20, 1px);
                row-gap: 15px;

                .stroke {
                    height: 1px;
                    width: 330px;
                    background-color: #e0e0e2;
                }
            }
        }   
    }
}

@media screen and (max-width: 991px) {
    .main .backgroundGrids {
        &.fourth {
            display: none;
        }

        &.first {
            top: 160px;
        }
    }
}

@media screen and (max-width: 880px) {
    .main .backgroundGrids {
        &.third {
            display: none;
        }

        &.first {
            top: 120px;
        }

        &.second {
            bottom: 150px;
        }
    }
}

@media screen and (max-width: 656px) {
    .main .backgroundGrids {
        &.first {
            transform: scale(0.7);
        }

        &.second {
            transform: scale(0.7);
        }
    }

    .main .content .item {
        cursor: context-menu;
    }

    .main {
        .content .item .itemContent {
            .customCheckBox {
                width: 30px;
                height: 30px;   
                
                .checkmark {
                    width: 20px;
                }
            } 

            .text {
                font-size: 16px;
                margin-left: 0;
                cursor: context-menu;
            }
        }
    }
}