.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .itemContent {
        display: flex;
        align-items: center;
        flex-grow: 1;

        .text {
            width: 100%;
            margin-left: 10px;
            font-size: 18px;
        }
        
        .editInput {
            width: 100%;
            padding: 10px 15px;
            // outline: none;
            margin-left: 5px;
            border-radius: 5px;
            border: none;
            font-size: 18px;
        }

        &.editVersion {
            .text {
                display: none;
            }
        }
    }

    .moreContainer {
        position: relative;

        .moreBtn {
            user-select: none;
        }

        .contextMenu {
            width: 100px;
            background-color: #FFF;
            border: 1px solid black;
            border-radius: 5px;
            position: absolute;
            right: 0;
            z-index: 1;
            display: none;

            .option {
                padding: 5px 10px;
                position: relative;

                &.openable:hover {
                    .innerSelection {
                        display: block;
                    }
                }

                .innerSelection {
                    width: 220px;
                    border: 1px solid black;
                    background-color: #FFF;
                    position: absolute;
                    transform: translateX(100%);
                    right: 0;
                    top: 0;
                    display: none;

                    &.leftVersion { 
                        right: auto;
                        left: 0;
                        transform: translateX(-100%);
                    }
                }
            }

            &.open {
                display: block;
            }
        }
    }
}